.headerWrap {
  display: flex;
  align-items: center;

  a {
    font-size: 3rem;
    margin-right: 2rem;
  }

  .selectedDate {
    font-size: 3rem;
    font-weight: 700;
  }

  .todayBtn {
    margin-left: 2rem;
    padding: 0.5rem 1.6rem;
    border: 0.1rem solid #000;
    border-radius: 0.8rem;
    font-size: 1.6rem;
  }
}
