.datePaginationWrap {
  display: flex;
  justify-content: center;
  margin-top: 5rem;

  .prevButton,
  .nextButton {
    font-size: 3rem;
  }

  .datePaginationButtons {
    display: flex;
    justify-content: center;
    column-gap: 3rem;
    margin: 0 3rem;

    .dateArea {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;

      .dayOfWeek {
        position: absolute;
        top: -3rem;
        font-size: 1.4rem;
        font-weight: 500;
        color: #000;
      }

      &.currentDate {
        background-color: #adccf3;
        border-radius: 50%;
        font-weight: 700;
        color: #fff;

        &.holiday {
          background-color: #ffefef;
        }
      }

      &.holiday {
        button {
          color: #ff0000;
        }
      }

      button {
        font-size: 3rem;
      }

      .today {
        position: absolute;
        bottom: -3rem;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 500;
        background-color: #1479eb;
        border-radius: 0.6rem;
        color: #fff;
      }

      .holiday {
        position: absolute;
        bottom: -3rem;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 500;
        background-color: #ff0000;
        border-radius: 0.6rem;
        color: #fff;
      }
    }
  }
}

.taskListWrap {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 10rem;
  border: 0.1rem solid #000;

  .col {
    position: relative;
    display: flex;
    height: 12rem;
    padding: 0.2rem 1.6rem 0.2rem 0.6rem;
    border: 0.1rem solid #ccc;
    font-size: 1.6rem;
    cursor: pointer;
  }
}
