.reservationWrap {
  margin-top: 10rem;
  width: 100%;

  .reservationTaskHeaderContent {
    // display: grid;
    // grid-auto-flow: column;
    // grid-template-columns: repeat(auto-fit, minmax(0, auto));
    display: flex;
    min-width: max-content;
    margin-left: 7rem;

    .taskHeader {
      flex: 1 0 auto;
      min-width: 100px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #efefef;

      &::after {
        position: absolute;
        content: "";
        width: 0.1rem;
        height: 100%;
        right: 0;
        background-color: #ccc;
      }

      &:hover {
        cursor: move;
      }

      &:last-of-type {
        border-right: none;
      }

      span {
        font-size: 2rem;
        font-weight: 700;
        padding: 1rem;
      }

      .resizeDragArea {
        position: absolute;
        top: 0;
        right: 0;
        width: 2rem;
        height: 100%;
        cursor: col-resize;
      }

      .subTaskHeaderArea {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(auto-fit, minmax(0, auto));
        width: 100%;

        .subTaskHeader {
          display: flex;
          justify-content: center;
          align-items: center;
          border-top: 0.1rem solid #ccc;
          border-right: 0.1rem solid #ccc;
          text-align: center;
          &:last-of-type {
            border-right: none;
          }

          span {
            overflow: hidden;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }

  .reservationTaskBodyContent {
    .reservationTimeArea {
      display: flex;
      flex-direction: column;
      height: fit-content;
      font-size: 1.4rem;

      .reservationTime {
        min-height: 2rem;
      }
    }
  }
}
